.modal {
    width: 18.75rem;
    padding: 1.25rem;
    background-color: #252525;
    border-radius: 0.313rem;
    box-shadow: 0 0 0.325rem black;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -75px; /* Metade da altura */
    margin-left: -125px; /* Metade da largura */
    
  }
  
  .header {
    font-family: "Inter", normal;
    font-size: 1rem;
    color: #ffff;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: start;
    background-color: #252525;
    width: 100%;
  }
  
  .input {
    border: none;
    margin-top: auto;
    outline: none;
    font-family: "Inter", normal;
    width: 95%;
    padding: 5px 5px;
    color: aliceblue;
  }
  
  .input-class {
    background-color: #252525;
  }
  
  .button {
    margin-top: 0.7rem;
    margin-left: 6.5rem;
    background-color: #252525;
    font-family: "Inter", sans-serif;
    border: none;
    color: rgb(38, 37, 37);
  }
  
  .button-add {
    border: none;
    margin-left: 0.188rem;
  }
  
  .button-cancel {
    border: none;
  }
  
  .button-add:hover {
    background: linear-gradient(225deg, #edbaff 0%, #a1ffff 100%);
    color: black;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 0.9rem;
    opacity: 1;
    cursor: pointer;
  }
  
  .button-cancel:hover {
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    opacity: 1;
    cursor: pointer;
  }