/* #root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: left;
  
}

#root .App .Top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

#root .App .Top h1{
margin-right: 50px;
}

#root .App .Top .Search{
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 10px 20px;
  background-color: #252525;
  text-decoration-color: #7A7A7A;
  border-radius: 2px;
}

#root .App .Top .Search input{
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #252525;
  text-decoration-color: #fff;
}

#root .App .Top .Search i{
  background-color: #252525;
  margin-right: 14px;
}

#root .App .Card {
  width: 200px;
  height: 140px;
  border-radius: 5px;
  border: 2px solid #2c2c2c;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

#root .App .Card .material-icons{
  background-color: #252525;
  padding: 10px 10px 10px 10px;
  align-items: center;
  border-radius: 10px;
}

#root .App .Card .Model{
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
}

#root .App .Card .Model h3 {
  margin-right: 80px;
  margin-top: 23px;
}

#root .App .Card .Status{
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.87);
  align-items: space-between;
  display: flex;
  justify-content: flex-start;
}

#root .App .Card .Status h4{
  margin-right: 40px;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Source+Sans+Pro:wght@600;700&display=swap');
.Model > h3 {
  margin-top: 1rem;
  margin-bottom: ;
  font-size: 2rem;
}
.App {
  min-width: 100%;
}

.Layout {
  width: 100%;
}

.Status {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Top > h1 {
  margin-right: 2rem;
}

.Search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Card {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* max-width: 252px; */
  height: auto;
  width: 100%;
  border-radius : 20px;
  background-color: rgba(0, 0, 0, 1);
  padding-bottom: 30px;
}

.grad {
  font-size: 2rem;
  margin: 0;
  width: fit-content;
  background: -webkit-linear-gradient(235deg, rgba(237,186,255,1) 0%, rgba(197,222,255,1) 50%, rgba(161,255,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Status > h4 {
  font-size: 1rem;
  opacity: 0.5;
}

.DeviceBox {
  padding: 1.5rem;
  border: 1px solid white;
}