@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Source+Sans+Pro:wght@600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  display: flex;
  align-items: space-between;
  display: flex;
  /* min-width: 100vw; */
  min-height: 100vh;
}

body {
  width: 100vw;
}

.caixapreta{
  border: 3rem solid red;
  border-color: 1px solid red;
}