.dashboardPage {
    width: 100%;
    height: 100%;
    display: flex;
}

.dashboardColPage {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: normal;
}