@import url('https://fonts.googleapis.com/css2?family=Inter:display=swap');

.layoutLab {
    display: grid;
    position: absolute;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, auto);
    left: 0;
}

.cardLab {
    height: 20.5625rem;
    background: var(--);
    border-radius: 1.25rem;
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: 1.625rem;
    margin-bottom: 1.75rem;
    align-items: center;
}

.nameLab {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.3125rem;
    color: #ffffff;
    position: absolute;
    left: 5.78%;
    top: 1rem;
<<<<<<< HEAD:src/front/src/components/Combo_lab/combo_lab.css
    background: transparent;
} 
=======
}
>>>>>>> 0bfc891 (refactor(components): refactoring components and create routes.):src/front/src/components/Card.module.css

.contentab {
    background: linear-gradient(225deg, #edbaff 0%, #a1ffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    align-self: center;
    margin: 0 0 0 0;
}

.subTitleContentLab {
    font-weight: 400;
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    color: #7a7a7a;
    align-self: center;
    background: transparent;
}

.contentCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 50%;
    background: transparent;
}
<<<<<<< HEAD:src/front/src/components/Combo_lab/combo_lab.css

.auxiliar-lab {
    display: none;
}

=======
>>>>>>> 0bfc891 (refactor(components): refactoring components and create routes.):src/front/src/components/Card.module.css
