@import url('https://fonts.googleapis.com/css2?family=Inter:display=swap');

.layoutLab {
    display: grid;
    position: absolute;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, auto);
}

.cardLab {
    height: 20.5625rem;
    background: var(--);
    border-radius: 1.25rem;
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: 1.625rem;
    margin-bottom: 1.75rem;
    align-items: center;
}

.nameLab {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.3125rem;
    color: var(--white);
    position: absolute;
    left: 5.78%;
    top: 1rem;
}

.contentab {
    background: linear-gradient(225deg, #edbaff 0%, #a1ffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    align-self: center;
    margin: 0 0 0 0;
}

.subTitleContentLab {
    font-weight: 400;
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    color: var(--gray-100);
    align-self: center;
}

.contentCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 50%;
}