.display {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    width: 96%;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    padding-top: 5px;
}

.help {
    margin-top: 5px;
}