.display {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    margin-top: 0.5rem;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 1.75rem;
    color: #ffff;
    text-align: center;
    padding-top: 5px;
}

.help {
    margin-top: 5px;
}
