.toggleLabEnable {
    position: absolute;
    width: 2.18rem;
    height: 1.125rem;
    right: 8.12%;
    top: 1.8125rem;
    background: linear-gradient(225deg, #EDBAFF 0%, #A1FFFF 100%);
    border-radius: 1.25rem;
}

.toggleButtonLabEnable {
    position: absolute;
    height: 0.70rem;
    background-color: #252525;
    border-color: #252525;
    top: 0.21125rem;
    right: 0.21125rem;
    width: 0.7031rem;
    border-radius: 50%;
}

.toggleLabDisabled {
    position: absolute;
    width: 2.18rem;
    height: 1.125rem;
    right: 8.12%;
    top: 1.8125rem;
    background: #7A7A7A;
    border-radius: 1.25rem;
}

.toggleButtonLabDisabled {
    position: absolute;
    height: 0.70rem;
    background-color: #252525;
    border-color: #252525;
    top: 0.21125rem;
    right: 1.2112500000000068rem;
    width: 0.70rem;
    border-radius: 50%;
}
