@import url("https://fonts.googleapis.com/css2?family=Inter:display=swap");

* {
  background-color: black;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  padding: 0px;
  width: 100%;
  height: 41px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.div-button {
    display: flex;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
  margin-right: 1rem;
  font-weight: 600;
  width: 95px;
  height: 41px;
  border-radius: 10px;
  cursor: pointer;
}

button:active,
button:focus {
  background: linear-gradient(225deg, #edbaff 0%, #a1ffff 100%);
  color: black;
}
